<!DOCTYPE html>
<html>

<head>
    <title>Auto email checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>

    <h1>Auto email checker</h1>
    <p>
        <a href="https://gitlab.com/MartenBE/auto-email-checker"
            target="_blank">https://gitlab.com/MartenBE/auto-email-checker</a>
    </p>

    <form method="post">
        <textarea id="email" name="email">{{ email }}</textarea><br />
        <input type="submit" value="Submit" />
    </form>

    {% if output %}
    <fieldset>
        <legend>Output:</legend>
        <pre id="output">{{ output }}</pre>
    </fieldset>
    {% endif %}

    {% if debug %}
    <fieldset>
        <legend>Debug:</legend>
        <pre id="output">{{ debug }}</pre>
    </fieldset>
    {% endif %}

</body>

</html>